{
    "give-role": 0,
    "take-role": 0,
    "can-smash": true,
    "smash-min": 10,
    "smash-max": 20,
    "can-give-self": false,
    "can-take-self": false,
    "can-give-eachother": false,
    "can-take-eachother": false
}